body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
td{
    border: 2px solid black;
}
h1{
    color: antiquewhite;
    background-color: black;
}
h2{
    color: antiquewhite;
    background-color: black;
}
nav{
    color: coral;
    background-color: brown;
}